* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: arial;
  box-sizing: border-box;
}
.info-bar {
  background: #111;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
}
header {
	background: white;
	padding: 10px;
	width: 100%;
	height: auto;
	border:none;
  display: flex;
  justify-content: space-between;
}
    #hamburger,#hamburger div, #side-menu-new, #menu-content, #prevent {
      display: none;
    }
#clogo {
	   height: 40px;
    width: 162px;
    background: url(../tlgo.png);
    margin-left:0px;
    margin-top: 0px;
    background-size:162px 40px;
    background-repeat: no-repeat;
}
#cmenu {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 0%;
}
#cmenu a {
	text-decoration: none;
	color: #000;
	margin-left: 10px;
	padding: 5px;
	font-size: 13px;
	border:none;
	border-bottom: 1px solid white;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
#cmenu a:nth-child(1) {
	margin-left: 0px;
}
#cmenu a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: width .3s;
}
#cmenu a:hover::after {
    width: 100%;
    transition: width .3s;
}
#cmenu a:focus::after {
    width: 100%;
    transition: width .3s;
}

/* Breadcrumb Start */
.bdcrmb {
  padding: 10px;
  padding-left: 35px;
  font-size: 13px;
  background: rgb(247,248,250);
  color: rgb(51,51,80);
  font-family: 'Nunito', sans-serif;
}
/* Breadcrumb End */

/* Page Content Start */
#fhding {
    font-size: 42px;
    font-weight: bold;
    border:none;
    max-width: auto;
    position: relative;
    line-height: 1;
    display: inline-block;
    margin-bottom: 10px;
}
#fhding::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #273c75;
    bottom: -10px;
    margin-left: -30px;
}
.pcnt {
  height: auto;
  width: 90%;
  display: block;
  margin: auto;
  font-family: 'Nunito', sans-serif;
  margin-top: 5%;
}
.wshp {
  width: 80%;
  padding: 10px;
}
#rsidebar {
  width: 20%;
  height: auto;
  padding: 10px;
}
/* Page Content End */

/* Footer Start */
footer{
  width: 100%;
  background: #000;
  font-family: 'Nunito', sans-serif;
}
footer a {
  text-decoration: none;
}
footer .footer-content{
  max-width: 90%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-footer-content: space-between;
  color: rgb(208,208,208);
}
footer .footer-content p,a{
  color: rgb(208,208,208);
}
footer .footer-content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .footer-content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .footer-content p{
  text-align: justify;
}
footer .footer-content .footer-lower .topic{
  margin: 24px 0 5px 0;
}
footer .footer-content .footer-lower i{
  padding-right: 16px;
}
footer .footer-content .footer-middle{
  padding-left: 80px;
}
footer .footer-content .footer-middle a{
  line-height: 32px;
}
footer .footer-content .right a{
  line-height: 32px;
}
footer .footer-content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .footer-content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.footer-content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .footer-content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.footer-content .media-icons a:hover{
  border-color: gold;
}
footer .bottom{
  width: 100%;
  text-align: center;
  color: rgb(208,208,208);

  overflow: hidden;
  width: 90%;
  margin: auto;
}
footer .bottom a{
  color: gold;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: gold;
}
@media (max-width:1100px) {
  footer .footer-content .footer-middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .footer-content .box{
    width: 50%;
  }
  .footer-content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .footer-content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .footer-content .footer-middle{
    padding-left: 0;
  }
}
/* Footer End */

/* Mobile Responsive starts here */
@media only screen and (max-width:500px) {
  header {
    padding: 5px;
  }
  #clogo {
    display: block;
    margin: auto;
  }
  #cmenu {
    display: none;
  }
  #cmenu a {
    display: none;
  }
.info-bar {
  font-size: 14px;
}
#hamburger {
  display: block;
  position: absolute;
  top: 45px;
  left: 14px;
  z-index: 101;
  cursor: pointer;
}
#hamburger div {
  height: 2px;
      background: rgb(97,97,97);
      background: black;
      width: 20px;
      margin-bottom: 5px;
      cursor: pointer;
      display: block;
}
#hamburger div:nth-child(2) {
width: 15px;
}
#hamburger div:nth-child(3) {
width: 10px;
}
#side-menu-new {
      background: #F4F6F8;
      height: 100%;
      width:70%;
      position: fixed;
      left: -1500px;
      top: 0;
      z-index: 102;
      border: none;
      overflow: hidden;
      transition: all 0.5s;
      display: block;
    }
    #prevent {
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.7);
      z-index: 101;
      display: none;
      transition: all 0.5s;
    }
    #menu-content {
      padding: 0px;
      margin-top: 10%;
      display: block;
    }
    #menu-content a {
      color: rgb(40,51,57);
      color: black;
      text-decoration: none;
      display: flex;
      padding: 14px;
      width: 100%;
      font-size: 15px;
      font-weight: bold;
      padding-left: 7%;
      margin-bottom: -20px;
      outline: none;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
    }
    #menu-content a:hover {
      colo: rgb(170,174,188);
      background: rgb(222,222,222);
    }
}
#btt-m {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(223, 173, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    backdrop-filter:blur(1px);
    z-index: 100;
}
#btt-m ion-icon {
    color: #fff;
    margin: 0;
    position: relative;
    left: 15.5px;
    top: 15px;
    font-size: 19px;
}
#btt-m:hover {
    background: rgba(223, 173, 0, 0.9);
}
#whtsp {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: rgba(52, 217, 82, 1);
    width: 50px;
    height: 50px;
    text-decoration: none;
    border-radius: 35px;
    display: block;
    backdrop-filter:blur(1px);
    z-index: 100;
}
#whtsp ion-icon {
    color: #fff;
    margin: 0;
    position: relative;
    left: 15.5px;
    top: 15px;
    font-size: 19px;
}
/* Mobile Responsive ends here */